<style>
    .unme{
        padding: 20px 15px;
        color: #fff;
        font-weight: 500;
        user-select: none;
        position: relative;
    }
    .unme .dropdown-toggle {
        text-decoration:none;
    }
    .unme .dropdown-menu {
        left: auto;
        right: 0px;
        margin-top: 0px;
        background-color: #1E2024;
    }
    .unme .dropdown-menu .dropdown-item {
        color: #FFCC00;
    }
    .unme .dropdown-menu .dropdown-item:hover, .unme .dropdown-menu .dropdown-item:focus {
        color: #FFCC00;
        background-color: #1E2024;
    }
    @media only screen and (max-width:767px){
        .unme .dropdown-toggle {
            display:block;
        }
        .unme .dropdown-menu {
            left: 0px;
            right: auto;
            position:relative;
            background-color: #1E2024;
        }
        .unme .dropdown-menu .dropdown-item {
            color: #FFCC00;
            padding: 0.25rem 1.5rem 0.25rem 0rem;
        }
    }
</style>

<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-4 text-uppercase text-primary">Biz<span class="text-white font-weight-normal">News</span></h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">                
                <a href="{% url 'bloghome' %}" class="nav-item nav-link {% if request.get_full_path == "/" %} active {% endif %}" >Home</a>
                <a href="{% url 'blogcategory' %}" class="nav-item nav-link {% if request.get_full_path == "/category" %}active{% endif %}">Category</a>
                <a href="{% url 'blogsingle' %}" class="nav-item nav-link {% if request.get_full_path == "/single" %}active{% endif %}">Single News</a>                    
                <a href="{% url 'blogcontact' %}" class="nav-item nav-link {% if request.get_full_path == "/contact" %}active{% endif %}">Contact</a>
            </div>
            {% if user.is_authenticated %}
                <a href="{% url 'bloglogout' %}" class="nav-item nav-link {% if request.get_full_path == "/logout" %} active {% endif %}" ><span class="fas fa-sign-out-alt"></span> Logout</a> 
                <div class="unme">
                    <a class="dropdown-toggle" href="javascript:void(0);" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false"> <span class="fas fa-user"></span> {{request.user}} </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'blogeditprof' %}">Edit profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'blogchangepass' %}">Change Password</a></li>
                    </ul>
                </div>
            {%else %}
                <a href="{% url 'blogsignup' %}" class="nav-item nav-link {% if request.get_full_path == "/signup" %} active {% endif %}" ><span class="fas fa-user-plus"></span> Sign Up</a>
                <a href="{% url 'bloglogin' %}" class="nav-item nav-link {% if request.get_full_path == "/login" %}active{% endif %}"><span class="fas fa-sign-in-alt"></span> Login</a>
            {% endif %}
        </div>
    </nav>
</div>
<!-- Navbar End -->